/* Css for the html elements */
body {
  padding-top: 20px;
  font-size: 16px;
  background: transparent;
}

 /* Override B3 .panel adding a subtly transparent background */
.panel {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

.margin-base-vertical {
  margin: 40px 0;
}

#topContainer {
  background-image: url("stadium1.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  opacity: 0.;
}

#topRow {
  margin-top: 115px;
  text-align: center;
}

.btn-primary {
  margin-left: 20px;
  margin-bottom: 30px; 
  text-align: center;
}

.btn-primary a {
  color: white;
}


#topRow h1 {
  font-size: 300%;
}

.marginTop {
      margin-top: 30px;
}

.center {
  text-align: center;
}

#contentIm {
  opacity: 1;
}

#footer {
  background-color: #B0D1FB;
}

.marginBottom {
  margin-bottom: 30px
}

.title {
    margin-top: 100px;
    font-size: 300%;
}

/* CSS for the elements of the first scatterplot */
.main text {
    font: 10px sans-serif;  
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}








circle {
    fill: steelblue;
}

.rect {
  fill: steelblue;
}

.text {
  fill: white;
  font: 14px sans-serif;
  text-anchor: end;
}

.menu {
    margin-top: 10px;
    margin-left: 40px;
    font: 14px sans-serif;
    font-weight: bold;
}

.largeText {
    fill: white;
    font: 14px sans-serif;
    text-anchor: end;
}

.firstText {
  fill: white;
  font: 14px sans-serif;
  text-anchor: start;
}

.subunit.SCT { fill: #ffffff }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #ffffff }
.subunit.ENG { fill: #dcd; }
.subunit.IRL { fill: #ffffff;
stroke: none; }



.fadeIn {
    fill-opacity: 0;
}


#textBox {
  position: absolute;
  width: 170px;
  height: auto;
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#textBox.hidden {
  display: none;
}

#boxHeader {
    font-weight: bolder;
}

#textBox p {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 10px;
  margin: 2px;
}

.left {
  float: left;
}

.line {
  stroke-width: 2px;
  fill: none;
}

.teamDropDown {
  margin-top: 3U0px;
  margin-left: 30px;
}

.axis path,
.axis line
 {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#marker {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: steelblue;
}

.mapButton {
    float: left;
    margin: 10px;
}

.lastButton {
  margin: 10px;
}


.barDropDown {
    margin-top: 25px;
}

.mapDropDown {
    margin-top: 20px;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

td {
    padding: 15px;
}

th {
    background-color: steelblue;
    color: white;
    text-align: center;
}

tr, td {
  border: 1px solid #F0F0F0;
}

#teamPath {
  stroke: red;
}

.firstSelected {
  fill: red;
}

.secondSelected {
  fill: green;
  color: green;
}

.stadium {
  fill: steelblue;
  opacity: 0.8;
}
